<section>
    <h1 class="text-main text-center mt-2 mb-5">Forget Password </h1>

@if (step == 1) {
<form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()" >
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control">
    </div>
    <button [disabled]="verifyEmail.invalid" class="btn-main d-block ms-auto my-4">Verify Email</button>
</form>
}


@else if(step == 2) {

<form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyCodeSubmit()" >
    <div>
        <label for="resetCode">resetCode</label>
        <input id="resetCode" type="text" formControlName="resetCode" class="form-control">
    </div>
    <button [disabled]="verifyCode.invalid" class="btn-main d-block ms-auto my-4">Verify resetCode</button>
</form>
}






@else if  (step == 3) {
<form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="resetPassSubmit()" >
    <div>
        <label for="email">Email</label>
        <input readonly id="email" type="email" formControlName="email" class="form-control">
    </div>

    <div>
        <label for="newPassword">newPassword</label>
        <input id="newPassword" type="password" formControlName="newPassword" class="form-control">
    </div>

    <button [disabled]="resetPassword.invalid" class="btn-main d-block ms-auto my-4">Verify newPassword</button>
</form>

}




</section>
