




<section class=" p-4 w-75 mx-auto shadow my-5" >

    <div class="row align-items-center g-4">

        <div class="col-md-3">
     <div>
    <img [src]="brandDetails?.image" class="w-100 " alt="">
    </div>


        </div>
       
        <div class="col-md-9">
    <h3 class="text-main"> {{brandDetails?.name}}</h3>
   

   <div class="d-flex flex-column">
    <span class="text-black" >{{brandDetails?.createdAt}}</span>
 <span class="text-black">{{brandDetails?.updatedAt}}</span>
   </div>

        </div>




    </div>


