<section class=" p-4 w-75 mx-auto shadow my-5" >

    <div class="row align-items-center g-4">

        <div class="col-md-3">
     <div>
    <img [src]="CategoryDetails?.image" class="w-100" alt="">
    </div>


        </div>
       
        <div class="col-md-9">
    <h3 class="text-main"> {{CategoryDetails?.name}}</h3>

   <div class="d-flex flex-column">
    <span class="text-black" >{{CategoryDetails?.createdAt}}</span>
 <span class="text-black">{{CategoryDetails?.updatedAt}}</span>
   </div>

        </div>




    </div>







</section>
